<div class="login-page">
    <h1>Welcome to the Wall of Fitz!</h1>
    <form id="register_form" class="login-register" action="/register" method="POST" data-is_processing="0">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <h2>Register here:</h2>
        <p><label>Email: </label> <input type="email" id="register_email_input" name="email"></p>
        <p id="register_email_error_msg" class="hidden error_msg"> </p>
        <p><label>First Name: </label> <input type="text" id="first_name_input" name="first_name"></p>
        <p id="first_name_error_msg" class="hidden error_msg"> </p>
        <p><label>Last Name: </label> <input type="text" id="last_name_input" name="last_name"></p>
        <p id="last_name_error_msg" class="hidden error_msg"> </p>
        <p><label>Password: </label> <input type="password" id="register_password_input" name="password"></p>
        <p id="register_password_error_msg" class="hidden error_msg"> </p>
        <p><label>Confirm Password: </label> <input type="password" id="confirm_password_input" name="confirm_password"></p>
        <p id="confirm_password_error_msg" class="hidden error_msg"> </p>
        <input class="submit" type='submit' value='Register!'>
    </form>
    <form id="login_form" class="login-register" action="/login" method="POST" data-is_processing="0">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <h2>Login Here:</h2>
        <p><label>Email: </label> <input type="email" id="login_email_input" name="email"></p>
        <p><label>Password: </label> <input type="password" id="login_password_input" name="password"></p>
        <p id="login_error_msg" class="hidden error_msg"> </p>
        <input class="submit" type='submit' value='Login!'>
    </form>
</div>