.login-page {
    background-color: gray;
    width: 600px;
    height: auto;
    margin: 10px auto;
    padding: 10px;
    border: solid black 3px;
}

.login-page h1 {
    text-align: center;
}

.login-page h2 {
    margin-left: 30px;
}

.login-page label {
    width: 216px;
    display: inline-block;
    text-align: right;
}

.login-page input {
    margin-left: 20px;
}

.login-page .submit {
    width: 125px;
    height: 30px;
    margin-left: 240px;
    margin-bottom: 20px;
}

.login-page .error {
    border-color: maroon;
}

.login-page .error_msg {
    text-align: left;
    color: maroon;
    font-weight: bold;
    font-size: 12px;
    margin-left: 240px;
}

.login-page .hidden {
    display: none
}